/*=== BASE ======*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic-ext,cyrillic);

@font-face {
    font-family: 'NexaLight';
    src:  url('/fonts/NexaLight.ttf.woff') format('woff'),
    url('/fonts/NexaLight.ttf.svg#NexaLight') format('svg'),
    url('/fonts/NexaLight.ttf.eot'),
    url('/fonts/NexaLight.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}
body, h1, h2, h3, p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

p {
    line-height: 47px;
}

h1 {
    font-size: 60px;
    margin: 80px 0 85px 0;
}

section {
    display: block;
    position: relative;
}



/*=== NAV =================*/
.tm-navbar {
    min-height: 100px;
}

.tm-navbar-nav {
    list-style: none;
    width: 39%;
    margin: 0 auto;
}

.tm-navbar-nav > li {
    float: left;
    padding: 30px;
}

.tm-navbar-nav > li > a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.tm-navbar-nav > li > a:hover {
    color: #ddd;
}

.tm-navbar-nav.gray > li > a {
    font-family: 'NexaLight';
    color: #bebebe;
}

.tm-navbar-nav.gray > li > a:hover {
    color: #929292;
}


/*=== DWN ================*/
.down {
    position: absolute;
    bottom: 60px;
    left: 37%;
}

.down > *{
    color: #bebebe;
}


.down:after {
    content: "";
    background: url("../img/arrow.png");
    width: 32px;
    height:32px;
    position: absolute;
    left: 43%;
}

header > .down:after {
    left: 43%;
}



/*==== LINE =================*/
.line {
    border-bottom: 1px solid #bebebe;
    margin: 0 67px 75px 67px;
}

/*==== WRAPPER ========*/

.tm-wrapper {
    width: 85%;
    margin: 0 auto;
}

/*=== GRID ==============*/

.tm-grid {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tm-grid > div > div {
    margin: 25px;
}

.tm-width-large-1-2 {
    width: 50%;
    float: left;
}

/*=== HEADER =================*/
header {

    height: 1080px;
    background-image:url("../img/header.jpg");
    background-size: cover;
    position: relative;

}

header > .down {
    left: 43.3%;
    bottom: 90px;
}
header > .down > * {
    color: #fff !important;
    text-transform: lowercase;
}

header > .down > .uk-icon-angle-double-down {
    font-size: 47px;
}

/*=== PAGE ============*/
.tm-about {
    background: url("../img/me.jpg");
    background-size: cover;
    height: 690px;

}

.tm-name {
    font-size: 36px;
    margin-top: 65px;
}

/*==== HELPERS ========*/
.tm-visible-small {
    display: none!important;
}

.tm-visible-large {
    display: block!important;
}

.tm-position-relative {
    position: relative!important;

}

.tm-block {
    height: 150px;

}



@media only screen and (max-width: 1440px) {

    .tm-navbar-nav {
        width: 55%;
    }
    header > .down {
        left: 40.3%;
    }
    header {

        height: 911px;
        background-position: 50% 0%;
    }
}


@media only screen and (max-width: 1280px) {

    .tm-navbar-nav {
        width: 60%;
    }
    header > .down {
        left: 40.3%;
    }
    header {

        height: 911px;
        background-position: 50% 0%;
    }
}

@media only screen and (max-width: 1024px) {

    .tm-navbar-nav {
        width: 80%;
    }

    .down {
        left: 25.5%;
    }

    header > .down {
        left: 37.3%;
    }
    header {

        height: 768px;
        background-position: 50% 0%;
    }

    .tm-about {
        background-position-x: -225px;
    }
}


@media only screen and (max-width: 768px) {

    .tm-navbar-nav {
        width: 90%;
    }
    .tm-visible-large {
        display: none;
    }

    .tm-width-large-1-2 {
        width: 100%;
    }

    .tm-panel {
        padding: 0 60px;
    }

    header {

        height: 911px;
        background-position: 50% 0%;
    }

    .tm-wrapper {
        width: 100%;
    }

    .tm-grid > div > div {
        margin: 0;
    }

    .tm-visible-large {
        display: none!important;
    }

    .down {

        left: 22%;
    }

    .tm-about {
        background-position-x: 0;
    }
}
@media only screen and (max-width: 320px) {


    h1 {
        font-size: 22px;
        margin: 50px 0 32px 0;
    }

    p {
        line-height: 37px;
        font-size: 18px;
    }

    .tm-about {
        background-position-x: 50%;
    }

    .tm-name {
        font-size: 22px;
        margin-top: 42px;
    }


    .tm-hidden-small {
        display: none!important;
    }
    .tm-visible-small {
        display: block!important;
    }

    .tm-panel {
        padding: 0 36px;
    }

    header {
        background-size: auto;
        height: 266px;
        background-position: 0px 40%;
    }


    .tm-navbar-nav > li {
        padding-left: 8px;
    }

    .tm-navbar-nav  > li > a {
        font-weight: bold;
    }


}