/*=== BASE ======*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic-ext,cyrillic);
@font-face {
    font-family: 'NexaLight';
    src:  url('/fonts/NexaLight.ttf.woff') format('woff'),
    url('/fonts/NexaLight.ttf.svg#NexaLight') format('svg'),
    url('/fonts/NexaLight.ttf.eot'),
    url('/fonts/NexaLight.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body, h1, h2, h3, p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

p {
    line-height: 47px;
}

h1 {
    font-size: 60px!important;
    margin: 80px 0 85px 0;
}

section {
    position: relative;
    margin-bottom: 200px;
}

.tm-name {
    font-size: 36px;
    margin-top: 65px;
}

.uk-container {
    max-width: 1578px !important
}

.down {
    position: absolute;
    bottom: 46px;
    left: 32.6%;
    text-align: center;
    font-size: 24px;
}

.down > p {
    text-transform: lowercase;
}
/*=== HEADER ========*/


header {

    height: 1080px;
    background-image:url("img/header.jpg");
    background-size: cover;
    position: relative;

}

header > .down {
    left: 41.3%;
}
header > .down > * {
    color: #fff !important;
    text-transform: lowercase;
}

header > .down > .uk-icon-angle-double-down {
    font-size: 47px;
}

.line {
    border-bottom: 1px solid #bebebe;
    margin: 0 67px 75px 67px;
}

header > .line {
    border-color: #fff;
    margin-bottom: 0;
}

/*=== NAVBAR ======*/
.uk-navbar {
    background: transparent;
    color: #fff;
    padding: 30px 0;
    margin: 0 !important;
}


.uk-navbar-nav > li > a {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    color: #fff;
    padding: 0 28px;
}

.tm-menu-gray > li > a {
    font-family: 'NexaLight';
    color: #bebebe;
    padding: 0 25px;
}

.uk-navbar-center {
    max-width: 48%;
}


/*=== PAGE */

.uk-grid>* {
    padding-left: 50px;
}

.uk-grid>*>div {
    margin-right: 50px;
}

.tm-about {
    background: url("/img/me.jpg");
    background-size: cover;
    height: 690px;

}

/*.tm-panel {
    padding: 0 0 0 56px;
}*/

@media only screen and (max-width: 768px) {

    .uk-navbar-center {
        max-width: 80%;
    }
    header {

        height: 911px;
        background-position: 50% 0%;
    }
}
@media only screen and (max-width: 320px) {

    header {


        background-size: auto;
        height: 266px;
        background-position: 0px 40%;
    }
}