<?/**
 * Range-Ray API PROGRAMM 2016
 * @category   Range-Ray CMS
 * @author     gaibovich.alexey <rangeray@mail.ru>
 * @copyright  Copyright (c) 2014-2016, 3dchita.ru
 * @license    http://www.3dchita.ru/info/disclaimer
 * @link       http://www.3dchita.ru/projects/
 * 
 * demo_shop
 */
?>
<? foreach($this->data as $item): ?>
    <li>артикул : <?php echo $item['sku'] ?> <a href="/products/addCart/<?php echo $item['sku'] ?>">добавить в корзину</a></li>
<? endforeach ?>

